<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				
		<!-- namepsace는 필수로 정해줘야함 -->
<mapper namespace = "com.bitcamp.op.mapper.mybatis.MessageMapper">
	
	<insert id="insertMessage" 
		parameterType="com.bitcamp.op.message.model.Message"
		useGeneratedKeys="true" keyProperty="idx">
					<!-- member테이블에 있는 컬럼명을 입력한다. -->
	insert into guestbook_message (userid_member, message)
	value (#{userid_member}, #{message})
			<!-- memberInfo에 있는 변수명을 입력해준다. -->
	</insert>
	
	<select id="selectCount" 
	resultType = "int">
	
	select count(*) from guestbook_message
	
	</select>
	
	<select id="selectList" 
	resultType = "com.bitcamp.op.message.model.Message">
	
	select * from guestbook_message order by message_id desc limit #{firstRow}, 3
	
	</select>
	
	<select id="select" 
	resultType = "com.bitcamp.op.message.model.Message">
	
	select * from guestbook_message where message_id = #{message_id}
	
	</select>
	
	<delete id = "deleteMember" 
	parameterType = "com.bitcamp.op.member.model.MemberInfo">
	
	delete from member where userid = #{id}
	
	</delete>
	
	<update id="modiMember" parameterType = "com.bitcamp.op.member.model.MemberInfo" >
	
	update member set password = #{password}, username = #{userName}, userphoto = #{userPhoto} where userid = #{userId}
	
	</update>
</mapper>