<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				
		<!-- namepsace는 필수로 정해줘야함 -->
<mapper namespace = "com.bitcamp.op.mapper.mybatis.MessageMapper">
	
	<!-- 자동증가를 사용할 경우 keyProperty를 사용  -->
	<insert id="insertMessage" 
		parameterType="com.bitcamp.op.message.model.Message"
		useGeneratedKeys="true" keyProperty="idx">
					<!-- member테이블에 있는 컬럼명을 입력한다. -->
	insert into guestbook_message (userid_member, message)
	value (#{userid_member}, #{message})
			<!-- memberInfo에 있는 변수명을 입력해준다. -->
	</insert>
	
	<select id="selectCount" 
	resultType = "int">
	
	select count(*) from guestbook_message
	
	</select>
	
	<select id="selectList" 
	resultType = "com.bitcamp.op.message.model.Message">
	
	select * from guestbook_message order by message_id desc limit #{firstRow}, 3
	
	</select>
	
	<select id="select" 
	resultType = "com.bitcamp.op.message.model.Message">
	
	select * from guestbook_message where message_id = #{message_id}
	
	</select>
	
	<!-- resultType은 결과값을 저장할 타입을 지정하는것 -->
	<!-- parameterType은 파라미터로 1개의 값을 불러올땐 써주지 않아도 
	 자동으로 String혹은 int로 들어감 but 값을 여러개 받아올경우 타입 지정해줘야함 -->
	<delete id = "deleteMessage">
	
	delete from guestbook_message where message_id = #{message_id}
	
	</delete>
	
	
</mapper>